@import 'typography.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: var(--scrollbar-width);
    width: var(--scrollbar-width);
    overflow-x: hidden;
    font-family: 'Golos';
    position: relative;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.h1 {
    color: #313131;
    font-family: 'Merriweather';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.h2 {
    margin: 0;
    font-family: 'Merriweather';
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
}

.btn {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-family: "Golos";
    text-decoration: none;
}

.btn-primary {
    display: flex;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 66px;
    background: #1F1F1F;
    color: #FFF;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.btn-primary:hover {
    background: #FBCE51;
    color: #1F1F1F;
}

.btn-secondary {
    display: flex;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 66px;
    border: 2px solid #1F1F1F;
    color: #1F1F1F;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.btn-secondary:hover {
    background: #1F1F1F;
    color: #FFF;
}

.link {
    color: #3057A2;
    font-family: "Golos";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
}

.btn-link {
    height: 35px;
    width: 113px;
    border-radius: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3057A2;
    color: #3057A2;
    font-family: "Golos";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    transition: all .3s ease-in-out;
}

.btn-link:hover {
    background: #3057A2;
    color: #FFF;
}

.title-wrapper {
    display: block;
    padding: 0 72px;
}

.old-price {
    color: #F54932;
    text-decoration: line-through;
}

.old-price span {
    color: #313131;
}

.greeting {
    height: fit-content;
    position: relative;
}

.greeting__bg img {
    position: relative;
    display: block;
    min-height: 665px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    max-width: var(--scrollbar-width);
}

.logo_wrapper {
    position: absolute;
    top: min(1.5vw, 72px);
    left: 72px;
}

.greeting__content {
    position: absolute;
    top: 50%;
    left: 72px;
    transform: translateY(-50%);
    max-width: calc(49vw - 72px);
}

.greeting__content .h1 span {
    display: block;
}

.greeting__content p {
    margin: 24px 0 40px 0;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.greeting__content .left {
    text-align: left;
}

.greeting__content .center {
    text-align: center;
}

.greeting__content .right {
    text-align: right;
}

.running-line {
    height: 100%;
    max-width: var(--scrollbar-width);
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
}

.outline__text {
    font-family: sans-serif;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.marquee {
    width: 100%;
    height: 60px;
    pointer-events: none;
    background: #F54932;
    overflow: hidden;
}

.marquee__inner-wrap {
    height: 100%;
    width: 100%;
}

.marquee p {
    margin: 0;
    padding: 0;
    padding-right: 30px;
    color: #FFF;
    text-align: right;
    font-family: 'Merriweather';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
}

.marquee p::after {
    display: block;
    position: absolute;
    content: '';
    top: 6px;
    left: auto;
    right: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.marquee__inner {
    height: 100%;
    width: fit-content;
    align-items: center;
    display: flex;
    position: relative;
    animation: marquee 50s linear infinite;
    will-change: transform;
}

.introduction {
    margin-top: 80px;
}

.first__pr {
    align-items: center;
    margin-bottom: 60px;
}

.first__pr,
.second__pr {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;
    flex-wrap: wrap;
}

.second__pr {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}

.inrtoduction__text {
    color: #313131;
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.inrtoduction__text span {
    color: #F54932;
    font-weight: 500;
}

.inrtoduction__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.second__pr .introduction__image-wrapper {
    max-width: calc(var(--scrollbar-width) / 2 - 105px);
}

.inrtoduction__text-wrapper.introduction__image-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
}

span.inrtoduction__text {
    grid-column: 1/2;
    align-self: start;
    grid-row: 2/3;
}

span.inrtoduction__text:first-child {
    grid-row: 1/2;
}

.inrtoduction__text-wrapper.introduction__image-wrapper img {
    align-self: start;
    grid-row: 1/3;
}

.introduction table {
    margin: 55px 0 48px;
    border-collapse: collapse;
    width: 100%;
}

.table-title {
    color: #313131;
    font-family: "Golos";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.7;
    padding-bottom: 14px;
    padding-right: 16px;
    border-bottom: 2px solid #D0D0D0;
}

.introduction table tr:last-child td {
    border-bottom: none;
}

.table-text {
    color: #313131;
    font-family: "Golos";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    padding-bottom: 14px;
    padding-left: 16px;
    border-left: 2px solid #D0D0D0;
    border-bottom: 2px solid #D0D0D0;
}

.stages {
    margin-top: 140px;
    overflow-x: hidden;
}

.stages .title-wrapper {
    position: relative;
}

.stages .link {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 341px;
}

.stages__carousel {
    position: relative;
}

.stages__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 0 72px;
    position: relative;
    z-index: 0;
}

.stages__card {
    display: flex;
    padding: 20px;
    gap: 16px;
}

.stages__1 {
    background-image: url(../images/stage-1.png);
    min-height: 112px;
}

.stages__2 {
    background-image: url(../images/stage-2.png);
    min-height: 112px;
}

.stages__3 {
    background-image: url(../images/stage-3.png);
    grid-column: 3;
    grid-row: 1/3;
    min-height: 244px;
}

.stages__4 {
    background-image: url(../images/stage-4.png);
    min-height: 112px;
}

.stages__5 {
    background-image: url(../images/stage-5.png);
    min-height: 112px;
}

.stages__6 {
    background-image: url(../images/stage-6.png);
    min-height: 136px;
}

.stages__7 {
    position: relative;
    background-image: url(../images/stage-7.png);
    grid-column: 2/4;
    grid-row: 3;
    z-index: 2;
    min-height: 136px;
}

.stages__carousel .img-wrapper {
    position: absolute;
    bottom: min(20vw, 116px);
    right: -53px;
    z-index: 2;
}

.stages__carousel .img-wrapper img {
    width: 100%;
    display: block;
}

.stages__7 .stages__text {
    max-width: 55%;
}

.stages__number {
    width: 36px;
    min-width: 36px;
    padding: 11px 11px 11px 12px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-family: "Golos";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.stages__text {
    color: #313131;
    font-family: "Golos";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.stages .carousel-controls {
    display: none;
}

.members {
    margin: 200px 0 140px;
    padding: 0 72px;
    position: relative;
}

.carousel-wrapper {
    overflow-x: hidden;
}

.members__carousel {
    width: calc(200vw - 144px);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 56px;
    margin-bottom: 2px;
    transform: translateX(-37px);
    transition: all 1s ease-in-out;
}

.members__carousel.forward {
    animation: carouselForward 1s ease-in-out forwards;
}

.members__carousel.backward {
    animation: carouselBackward 1s ease-in-out forwards;
}

.carousel-controls {
    position: absolute;
    top: 0;
    right: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.control__left,
.control__right {
    width: 44px;
    min-width: 44px;
    height: 44px;
    background-color: #313131;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.control__left:hover,
.control__right:hover {
    background-color: #FBCE51;
}

.control__left.disabled,
.control__right.disabled {
    background-color: #D6D6D6;
}

.members__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 37px;
    text-align: center;
}

.members__title {
    color: #313131;
    font-family: "Golos";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 28px 0 6px;
}

.members__subtitle {
    color: #313131;
    font-family: "Golos";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.6;
    margin-bottom: 20px;
}

.footer {

    display: flex;
    padding: 40px 72px 72px 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #E9DED4;
    color: #313131;
    font-family: "Golos";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.6;

}

@media (max-width: 1150px) {
    .second__pr img {
        max-width: 100%;
    }

    .inrtoduction__text-wrapper.introduction__image-wrapper img {
        max-width: calc(var(--scrollbar-width) / 2 - 105px);
    }

    .members h2 {
        max-width: 50vw;
    }

    .members__card {
        padding: 0 min(37px, 1.5vw);
        height: 100%;
    }

    .members__card img {
        max-width: 85%;
    }

    .members__card .btn-wrapper {
        justify-self: flex-end;
    }

    .stages {
        overflow-x: hidden;
    }
}

@media (max-width: 640px) {
    .h1 {
        font-size: 36px;
        line-height: 110%;
    }

    .h2 {
        font-size: 36px;
        line-height: 110%;
    }

    .title-wrapper {
        padding: 0;
    }

    .greeting__content {
        max-width: calc(var(--scrollbar-width) - 40px);
        left: 20px;
    }

    .greeting__bg {
        overflow-x: hidden;
    }

    .btn-wrapper {
        flex-direction: column;
        gap: 14px;
    }

    .greeting .btn-primary,
    .greeting .btn-secondary {
        width: calc(var(--scrollbar-width) - 40px);
        white-space: nowrap;
        height: 47px;
        min-height: 47px;
    }

    .greeting .btn-secondary {
        background-color: #fff;
        border: none;
    }

    .greeting .btn-primary br,
    .greeting .btn-secondary br {
        content: " ";
        display: none;
    }

    .greeting__content p {
        margin: 24px 0 32px 0;
    }

    .greeting__bg img {
        min-height: 773px;
    }

    .running-line {
        max-width: var(--scrollbar-width);
    }

    .inrtoduction__text {
        font-size: 28px;
        line-height: 135%;
    }

    .introduction__image-wrapper {
        max-width: var(--scrollbar-width);
        overflow-x: hidden;
        width: 100%;
    }

    .introduction__image-wrapper img {
        max-width: var(--scrollbar-width);
        width: 100%;
    }

    .introduction__image-wrapper.inrtoduction__text-wrapper p:first-child {
        order: -1;
    }

    .introduction__image-wrapper.inrtoduction__text-wrapper img {
        order: -1;
        margin: 24px 0;
    }

    .introduction table {
        margin: 44px 0 40px 0;
    }

    .introduction table tr {
        display: flex;
        flex-direction: column;
    }

    .table-text {
        border-left: none;
        padding-left: 0;
        padding-bottom: 16px;
    }

    .table-title {
        border-bottom: none;
        padding-bottom: 12px;
        padding-top: 16px;
    }

    .link {
        font-size: 18px;
        line-height: 120%;
    }

    .stages {
        margin-top: 110px;
        padding: 0 20px;
        overflow-x: hidden;
    }

    .stages .link {
        position: static;
    }

    .first__pr,
    .second__pr {
        flex-direction: column;
        align-items: center;
        padding: 0 20px 0 19px;
    }

    .first__pr {
        margin-bottom: 35px;
    }

    .stages__carousel {
        margin-top: 148px;
        width: calc(var(--scrollbar-width) - 40px);
        height: 354px;
        position: relative;
    }

    .stages__grid {
        width: calc(500vw - 40px);
        padding: 0;
        margin: 0;
        row-gap: 0;
        grid-template-columns: repeat(5, calc(100vw - 40px));
        column-gap: 40px;
        grid-template-rows: 150px 150px;
        transform: translateX(var(--carousel-stages-transition));
        transition: all 1s ease-in-out;
    }

    .stages__card {
        background-size: contain;
    }

    .stages__1 {
        align-items: flex-end;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .stages__2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .stages__3 {
        padding-top: 62px;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .stages__4 {
        align-items: flex-end;
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .stages__5 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .stages__6 {
        padding-top: 62px;
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .stages__7 {
        padding-top: 62px;
        position: static;
        grid-column: 5/6;
        grid-row: 1/3;
    }

    .stages__carousel .img-wrapper {
        bottom: auto;
        top: -148px;
        right: auto;
        left: 0;
    }

    .stages__7 .stages__text {
        max-width: 75%;
    }

    .stages .carousel-controls {
        display: flex;
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        top: auto;
        bottom: 0;
    }

    .stages .carousel-controls__text {
        display: flex;
        gap: 6px;
    }

    .stages .control-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #D9D9D9;
    }

    .stages .control-dot.current {
        background-color: #313131;
    }

    .carousel-controls {
        top: auto;
        right: auto;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .members__carousel {
        width: calc(600vw - 10px);
        grid-template-columns: repeat(6, calc(100vw - 20px));
        transform: translateX(var(--carousel-members-transition));
    }

    .members {
        padding: 0 20px;
    }

    .members__card {
        padding: 0;
    }

    .stages__grid.forward,
    .members__carousel.forward {
        animation: none;
    }

    .stages__grid.backward,
    .members__carousel.backward {
        animation: none;
    }

    .stages__carousel .img-wrapper {
        bottom: -1px;
        right: -63px;
    }

    .footer {
        font-size: 16px;
        line-height: 120%;
        padding: 40px 20px 60px 20px;
    }
}

@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

@keyframes carouselBackwardMobile {
    from {
        transform: translateX(var(--carousel-transition));
    }

    to {
        transform: translateX(-10px);
    }
}

@keyframes carouselForwardMobile {
    from {
        transform: translateX(-10px);
    }

    to {
        transform: translateX(var(--carousel-transition));
    }
}

@keyframes carouselBackward {
    from {
        transform: translateX(calc(-1 *(100vw - 37px)));
    }

    to {
        transform: translateX(-37px);
    }
}

@keyframes carouselForward {
    from {
        transform: translateX(-37px);
    }

    to {
        transform: translateX(calc(-1 *(100vw - 37px)));
    }
}