@import "../../../sass/variables";
@import "single";
.modal-backdrop.show {
    opacity: 0.7;
}

.bravo_wrap {
    .bravo_search_hotel {
        margin: 50px 0;
        .bravo-list-item {
            .topbar-search {
                .text {
                    font-size: 24px;
                    color: #1A2B48;
                    font-weight: normal;
                    margin: 0;
                }
            }
            .list-item {
                margin-top: 15px;
                @import "loop";
            }

        }
    }

    .bravo_detail_hotel {
        .bravo_content {
            padding-top: 20px;

            .description {
                margin-top: 20px;
                margin-bottom: 20px;
                color: #5E6D77;
                font-weight: 400;
                position: relative;
                @media(max-width: 766px){
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
                h4, strong {
                    font-size: 16px;
                    color: #343a40;
                    font-weight: 500;
                    margin-bottom: 30px;
                    @media(max-width: 990px){
                        margin-bottom: 10px;
                    }
                }
                ul {
                    padding-left: 25px;
                    @media(max-width: 990px){
                        padding-left: 15px;
                    }
                    li {
                        color: #5E6D77;
                        margin-bottom: 10px;
                        list-style: none;
                        &:before {
                            content: '';
                            border: 1px solid #5191FA;
                            width: 8px;
                            height: 8px;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 20px;
                            @media(max-width: 990px){
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .location-map{
                iframe {
                    width: 100%;
                }
                #map_content{
                    height: 450px;
                    @media(max-width: 766px){
                        height: 300px;
                    }
                }
            }
            #FAQs{
                .card-body{
                    padding-left: 4.5rem;
                    padding-top: 0;
                }
            }
            #itinerary{
                .card-body{
                    padding-left: 2.2rem;
                    padding-top: 0;
                    color: #77838f;
                }
            }
            .g-attributes{
                margin-bottom: 15px;
                .list-attributes{
                    display: flex;
                    flex-wrap: wrap;
                    .item{
                        flex: 0 0 25%;
                        max-width: 25%;
                        margin-bottom: 10px;
                        i{
                            font-size: 16px;
                            position: relative;
                            &.icon-default{
                                color: #5191fa;
                            }
                        }
                        @media(max-width: 768px){
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                        @media(max-width: 420px){
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }
            }

            .g-rules{
                margin-top: 30px;
                h3{
                    margin-bottom: 20px;
                }
                .description{
                    margin-top: 5px;
                }
                .key{
                    font-size: 14px;
                    color: #5E6D77;
                }
                .value{
                    font-size: 14px;
                    color: #5E6D77;
                }
                .strong,strong{
                    font-size: 15px;
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: #000;
                }
                .row{
                    margin-bottom: 15px;
                }
                .item{
                    margin-bottom: 15px;
                    color: #5e6d77;
                }
                .context{
                    white-space: pre-wrap;
                }
            }
        }
        @import "../../booking/scss/form-book-for-single";
    }
    .bravo_search_map{
        .list-item{
            margin-top: 15px;
        }
    }
}
.cart-total-group{
    border-top: 1px solid #D7DCE3;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    li{
        display: flex;
        justify-content: space-between;
        padding: 7px 0px;
        .label{
            flex-grow: 1;
            color: #1A2B48;
            font-weight: 500;

        }
        .val{
            flex-shrink: 0;
        }
        &.line-end-total{
            border-top: 1px solid #D7DCE3;
        }
        &.line-new-section{
            border-top: 1px solid #D7DCE3;
            color: #1A2B48;
            font-weight: 500;
            font-size: 16px;
        }
        &.line-end-total{
            .label{
                font-size: 16px;
            }
            .val{
                color:#5191FA;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

@import "../../tour/scss/search-map";
.has-search-map{
    .bravo_search_map{
        .results_map{
            @import "loop";
        }
    }
}