body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    position: relative;
    width: 60%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-image {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.slider-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.slider-indicator {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-indicator.active {
    background-color: #007bff;
}
